.background {
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("./assets/logo.jpg");
  width: 40px;
  height: 40px;
}

.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  width: 350px;
  height: 400px;
  background-color: white;
}

.container_login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container_login div h1 {
  font-size: 1.5rem;
  color: #00007a;
}

.container_login button {
  background-color: #00007a;
  color: white;
  height: 30px;
  border-radius: 30px;
  border: none;
}
